.mp_container__play {
	min-height: 100vh;
	width: 100%;
	background-color: $color_white;

	.play_header {
		padding: 40px 100px 0 40px;
		color: $color_primary;
	}

	.play_map {
		@include layout_flex(row, center, center);
		padding: 50px;
		max-height: 800px;
		width: 100%;

		.mp_component__map {
			width: 80%;
		}
	}
}