.mp_container__skills {
	width: 100%;
	background-color: $color_shade4;
	padding: 40px;

	h6 {
		font-weight: $font_weight_header3;
	}

	.skills {
		margin-top: 10px;
		flex-wrap: wrap;
		@include layout_flex(row);
	}
}