.icon {
	height: 75px;
	width: 75px;
	cursor: pointer;

	circle {
		fill: $color_primary;
	}

	&:hover {
		circle {
			fill: $color_shade1;
		}
	}
}

.github_icon {
	.main_fill {
		fill: $color_primary;
	}

	&:hover {
		.main_fill {
			fill: $color_shade1;
		}
	}
}